.ternary-circle{
  stroke:#c00;
  fill:#fff;
}

.ternary-line{
  fill: rgba(255,255,255,0.0);
  stroke:#c00;
}
.ternary-tick{
  fill:none;
  stroke:#aaa;
}

.minor{
  stroke:#fefefe;	
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}


path.domain {
  display: none;
}

.graticule path {
  stroke: #f8f8f8;
}

.graticule path.major ,.tick line {
  stroke: #eee;
  stroke-width: 2px;
}

.neatline {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
